<!doctype html>
<html>
  <head>
    <title> walker </title>
    <meta chartset='utf8'/>
    <script src="/socket.io/socket.io.js"></script>
    <%- js('all') %>

  </head>
  <body>
    <h1> walker </h1>
    <canvas id='canvas' />
  </body>
</html>
